/*Makes the lines of the table.*/
td 
{ 
	border: 5px solid; 
	border-color:black;
}

/*Makes the lines of the table smoother and together for "a professional look."*/
table 
{ 
	border-collapse: collapse; 
}

/*Displays the background of the website.*/
body 
{
	background-image: url("secondwebsitewallpaper.jpg");
	background-size: 1500px 900px;
}	

/* Centers the title of the content and makes the background colour aqua.*/
h1
{
	text-align:center;
	background-color:aqua
}

/*Centers the HTML validator image.*/
.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}